<% if @restaurant.category.name %>
     <h1><%= @restaurant.name %></h1>
    <p>Category:</p>
    <li><%= @restaurant.category.name %></li><br>
    <button><%= link_to 'Back', root_path %></button>
<% else %>
    <h1><%= @restaurant.name %></h1>
    <%= link_to 'Edit', edit_restaurant_path %>
    <button><%= link_to 'Back', category_restaurants_path(@category) %></button>
<% end %>


<br>
<br>

