<h1>New Category</h1>
<% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @category do |f| %>
    <b>Category</b>
    <b><%= f.label :name %><b>
    <%= f.text_field :name %><br>
    <br>
        <%= f.fields_for :restaurants, @restaurant do |restaurant_form| %>
            <b>Restaurant</b>
            <%= restaurant_form.label :name %>
            <%= restaurant_form.text_field :name %>
        <% end %>
    <%= f.submit %>
<% end %>